arena_py==1.0.0
chromadb
matplotlib==3.10.7
beautifulsoup4==4.12.3
playwright==1.49.0
dataclasses-json==0.6.7
httpx-sse==0.4.3
langchain
langchain-chroma
langchain-openai
langchain-classic
langchain-core
langchain-text-splitters
langchain_community
langgraph
marshmallow==3.26.2
mypy-extensions==1.1.0
pydantic-settings==2.12.0
typing-inspect==0.9.0
uuid-utils==0.14.0
